body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

header {
    height: 68px;
    background-color: #dfdfdf;
    border: 1px solid #b5b7ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    font-size: 20px;
    color: #4d4d4d;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    color: #2e353d;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
}

main img {
    margin-right: 16px;
    margin-left: 16px;
    width: 350px;
    margin-bottom: 32px;
}

main p {
    font-size: 24px;
    font-weight: 100;
    color: #242424;
    line-height: 36px;
    width: 706px;
}

footer {
    height: 120px;
    background-color: #434445;
    font-size: 20px;
    color: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mail_link:hover {
  color:black;
    background-color: navajowhite;
}
.main_page:hover {
    background-color: antiquewhite;
}


