<!DOCTYPE html>
<html>
<body>

<h2>The select Element</h2>

<p>The select element defines a drop-down list:</p>

<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select id="cars" name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <input type="submit">
</form>

</body>
</html>


{%for element in user_cart%}
    <tr>
        <td>{{ element.id }}</td>
        <td>

            <form action="{% url 'add_topping' %}" method="post">
                {% csrf_token %}

                <label for="toppings">Choose topping:</label>
                <select id="toppings" name="topping">
                    {%for topping in n%}
                    <option value={{topping.id}}>{{topping.name}}</option>
                    {%endfor%}
                </select>
                <button type="submit" class="btn btn-outline-secondary" name='element.id' value={{element.id}}>Save</button>
            </form>
        </td>

        <td>
            <form action="{% url 'remove_from_cart' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary" name='element.id' value={{element.id}}>Remove from cart</button>
            </form>
        </td>
    </tr>
    {% endfor %}