<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat box by Viktor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        if (!localStorage.getItem("username"))
            window.location.replace("/");

        function var1() {
            document.getElementById('recalledtext').innerHTML = 'Hello '+localStorage.getItem('username');
        }
        window.onload = var1;

    </script>
    <style>
    header {
            height: 68px;
            background-color: #dfdfdf;
            border: 1px solid #b5b7ba;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>


<body>
    <header>
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('my') }}">My channel</a>
    </header>
    <h1>Chatroom</h1>
    <main>

        <h2><p id="recalledtext" onloadstart="myfunction2()">Loading</p></h2>
        <ul class="list-group" ,id='channels-list'>
            {%for chat in chats%}
            <li class="list-group-item">{{chat}}</li>
            {%endfor%}
        </ul>


    </main>
    <footer>Copyright 2020</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
