<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebApp BOOKs by Viktor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class='bg-light container'>
        <div class='float-right'>{{username}}   <a href="{{url_for('logout')}}">   Log out</a></div>
    </div>
</head>


<body>
    <header>



    </header>
    <h1>Books review and rating page</h1>
    <main>
        You can search via the form below:
        <form action="{{url_for('search')}}" method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">ISBN or Author or Title</span>
                </div>
                <input type="text" aria-label="isbn" class="form-control" name="search">

            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <h2>{{output}}</h2>
        <ul>
            {%for book in data%}
            <div class="list-group">
                <a href="/isbn/{{book.isbn}}" class="list-group-item list-group-item-action active">
                    {{book.title}} by {{book.author}} in {{book.year}} isbn: {{book.isbn}}
                </a>
            </div>
            {%endfor%}
        </ul>

    </main>
    <footer>Copyright 2020</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
